.conn__form {
    margin: $border-margin;

    &__password {
        margin-top: 10px;
    }
}

.p--conn {
    margin: 0 0 0 5px;
}

.inp--conn {
    @include input();
}

.error {
    width: 100%;
    text-align: center;
    color: $red;
    display: none;
}