.insc {
    width: 100%;

    &__form {
        margin: $border-margin;

        &__password {
            margin-top: 40px;
        }
        &__check {
            margin-top: 7px;
        }
    }

}

.p--insc {
    margin: 0;
    margin-left: 5px;
}

.inp--insc {
    @include input();
}

.buttoncontainer {
    @include dsf(center);
    width: 100%;

    &--button {
        @include button();
        margin-top: 40px;
    }
}

.error--password {
    color: $red;
    text-align: center;
    display: none;
}

.error--pseudo {
    color: $red;
    width: 100%;
    text-align: center;
    display: none;
    margin: 0;
    padding: 10px 0 0 0;
}