@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
// font-family: 'Amatic SC', cursive;
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Roboto&display=swap');
// font-family: 'Roboto', sans-serif;

body {
    background-color: $bgc;
    color: $primary-color;
    font-family: $primary-font;
    margin: 0;
}


