// Logo animation
@keyframes hue {
    from {
      filter: hue-rotate(0deg);
    }
    to {
      filter: hue-rotate(-360deg);
    }
}

// Cascade weeks
@keyframes cascade {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

// MemorieCheck
@keyframes memorieCheck {
  from {
    transform: scale(0.9);
    opacity: 0.4;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

