// display flex
@mixin dsf($e: flex-start, $f: flex-start) {
    display: flex;
    justify-content: $e;
    align-items: $f;
}

// display column
@mixin dsc($e: flex-start, $f: flex-start) {
    display: flex;
    flex-direction: column;
    justify-content: $e;
    align-items: $f;
}

// boutons
@mixin button($e: $secondary-color, $f: 60%, $g: 50px) {
    background-color: $e;
    width: $f;
    height: $g;
    color: $bgc;
    border: none;
    border-radius: 10px 10px 10px 10px;
    font-family: $title-font;
    font-weight: bold;
    font-size: 30px;
}

// inputs
@mixin input($e: lighten($bgc, 10%), $f: $secondary-color) {
    width: 100%;
    height: 40px;
    background-color: $e;
    border-radius: 10px;
    border: 2px solid $f;
    color: $primary-color;
    font-family: $title-font;
    font-size: 30px;
} 
