// Couleurs
$primary-color: #E8EAEDFF;
$secondary-color: #61DAFBFF;
$bgc: #202124FF;
$red: #9A031E;
$yellow: #FFD972;
$green: #149911;
$purple: #73628A;

// Polices
$title-font: 'Amatic SC', cursive;
$primary-font: 'Roboto', sans-serif;


// Margin
$border-margin: 20px;
 
