.card {
    border: 2px solid $secondary-color;
    border-radius: 10px;
    padding: 15px;
    position: relative;
    // box-shadow: $secondary-color 0px 10px 36px 0px, $secondary-color 0px 0px 0px 1px;

    &__title {
        border-bottom: 1px solid $secondary-color;
    }

    &__desc {
        border-bottom: 1px solid $secondary-color;
        padding: 15px 0 15px 0;
    }

    &__tags {
        @include dsf(flex-start, center);
        margin-top: 15px;
    }
}

.card__date {
    position: absolute;
    top: -40px;
    right: 0;
    color: $secondary-color;
}

.h2__card {
    margin: 0px;
    margin-bottom: 15px;
}

.card_tag {
    background-color: lighten($bgc, 5%);
    border-radius: 50px 50px;
    padding: 5px;
    text-transform: lowercase;
    margin: 0;
    margin-right: 7px;

}

