.tagcontainer {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 5;
    display: none;
    transition: 0.5s ease;
} 
 
.tagtyping {

    @include dsc(flex-start, center);
    margin-top: 100px;

    &--input {
        @include input();
        width: 80%;
        border-radius: 50px 50px;
        text-align: center;
    }

    &__buttons {
        @include dsf(space-around);
        width: 40%;
        margin-top: 40px;
        font-size: 40px;
    }

}

.fa-hashtag {
    font-size: 80px;
    color: $secondary-color;
    margin-bottom: 40px;
}

.fa-times {
    color: $red;
}

.fa-check {
    color: $green;
}

.tagtyping--input__error {
    background-color: $red;
}