.accueil {
    width: 100%;
    

    &__top {
        position: fixed;
        top: 0;
        left: 0;
        @include dsf(flex-start, center);
        width: 100%;
        height: 40px;
        z-index: 4;
        background-color: $bgc;
        padding: 5px 0 5px 0;
        border-bottom: 1px solid $primary-color;
        font-size: 20px;

        &--text {
            width: 90%;
            text-align: center;
        }

        &--side {
            font-size: 30px;
            color: $secondary-color;
        }

    }
}

.burger-icon {
    margin-right: 20px;
}

.contenttext {
    background-color: coral;
}

.day {
    width: 100%;
    text-align: center;
    margin: 70px 0 20px 0;
    font-family: $title-font;
    font-size: 70px;

    color: $secondary-color;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(92deg, $green, $red);

    animation: hue 10s infinite linear;
}

.form_accueil {

    margin: $border-margin;

    &__text {

        &--title {
            @include input();
        }

        &--desc {
            @include input();
            width: 100%;
            height: 200px;
            resize: none;
        }
    }

    &__emoji {
        @include dsf(space-around);
        width: 100%;
        margin-bottom: 40px;

    }

    &--button {
        @include button();
        margin: 0;
    }
}
.button-container {
    @include dsf(center);
    width: 100%;
}

.emoji {
    width: 40px;
    height: 40px;
    border-bottom: 2px solid $secondary-color;

    padding-bottom: 5px;

    &--inp {
        display: none;
    }
}

.form_accueil__tag {
    @include dsf(flex-start, baseline);
    width: 100%;
    margin: 0 0 20px 0;

    &--title {
        margin-right: 10px;
    }

    &--button {

        font-size: 20px;
        font-weight: bold;
        color: $primary-color;
        background-color: $green;
        border: none;
        border-radius: 50px;
        margin-right: 10px;

        &--delete {

            font-size: 20px;
            font-weight: bold;
            color: $primary-color;
            background-color: $red;
            border: none;
            border-radius: 50px;
        }
    }
}

.h2 {
    &--title {
        margin-top: 40px;
        margin-bottom: 7px;
    }

    &--desc {
        margin-top: 40px;
        margin-bottom: 7px;
    }

    &--emoji {
        margin-top: 40px;
        margin-bottom: 7px;
    }

    &--tag {
        margin-bottom: 7px;
    }
}

.sidebar_accueil {

    position: fixed;
    top: 40px;
    right: -31vh;
    transition: 0.5s ease;
    z-index: 4;
}

.burger-icon {
    transition: 0.5s ease;
}
.burger-active {
    transform: rotate(-90deg);
}

.activebar {
    right: 0;
    box-shadow: darken($primary-color, 65%) 0px 7px 50px 0px;
}

.accueil__content {
    opacity: 1;
    transition: 0.5s;
}

.content--active {
    opacity: 0.3;
    filter: blur(1px);
}

.contentblur {
    filter: blur(2px);
}

.container-bubles {
    height: 50px;
}

